@model List<GeneralSittings>;
@{
    ViewData["Title"] = "الإعدادات العامة";
    
}

<h1>الإعدادات العامة</h1>

<a class="btn btn-primary" href="/GeneralSittings/Add">إضافة اعدادات عامة جديدة</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="text-align: center;" scope="col">م</th>
            <th style="text-align: center;" scope="col">إضافة</th>
            <th style="text-align: center;" scope="col">خصم</th>
            <th style="text-align: center;" scope="col">إجازة أسبوعية</th>
            <th style="text-align: center;" scope="col">إجازة أسبوعية</th>
            <th style="text-align: center;" scope="col">التاريخ</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var setting in Model)
        {
            <tr>
                <td style="text-align: center;">@setting.sittings_Id</td>
                <td style="text-align: center;">@setting.overTime</td>
                <td style="text-align: center;">@setting.underTime</td>
                <td style="text-align: center;">@setting.week_end_Day1</td>
                <td style="text-align: center;">@setting.week_end_Day2</td>
                <td style="text-align: center;">@setting.date.ToString("dd/MM/yyyy")</td>

            </tr>
        }
    </tbody>

   
</table>
