@model IEnumerable<HR_System.PAL.ViewModels.AppUserVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" href="/user/add">Create New User</a>
</p>

<form method="post" class="mt-5" action="/user/search">
    <input type="text" name="name" class="form-control mb-3" />
    <input class="btn btn-primary" type="submit" value="Search" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.role)
            </td>
            <td>
                <a class="btn btn-primary" href="/user/edit/@item.Id" >Edit</a>
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                <a class="btn btn-danger" href="/user/delete/@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
