@model IEnumerable<UserVM>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">المستخدمين</h1>

<p>
    <a class="btn btn-success" href="/user/add">إضافة مستخدم جديد</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                الاسم كامل
            </th>
            <th>
                اسم المستخدم
            </th>
            <th>
                اسم البريد
            </th>
            <th>
                المجموعة
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>@item.fullName</td>
                <td>@item.userName</td>
                <td>@item.email</td>
                <td>@string.Join(" , " ,item.Role.ToList())</td>
                <td>
                <a class="btn btn-success" asp-action="ManageRoles" asp-controller="User" asp-route-userId="@item.Id" >تعديل المجموعة</a>
                <a class="btn btn-danger" href="/User/Delete/@item.Id">حذف</a>
                </td>
        </tr>
}
    </tbody>
</table>
