@model IEnumerable<Employee>

@{
    ViewData["Title"] = "الموظفين";
}


<div class="container">
    <div class="row mt-2">
        <div class="col-12">
            <h1 class="text-center mb-2">بيانات الموظفين</h1>
            <a class="btn btn-success mb-2" asp-action="Add">إضافة موظف</a>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="font-weight: bold; text-align: center;">الرقم القومي</th>
                            <th style="font-weight: bold; text-align: center;">اسم الموظف</th>
                            <th style="font-weight: bold; text-align: center;">العنوان</th>
                            <th style="font-weight: bold; text-align: center;">رقم التليفون</th>
                            <th style="font-weight: bold; text-align: center;">النوع</th>
                            <th style="font-weight: bold; text-align: center;">الجنسية</th>
                            <th style="font-weight: bold; text-align: center;">تاريخ الميلاد</th>
                            <th style="font-weight: bold; text-align: center;">تاريخ التعاقد</th>
                            <th style="font-weight: bold; text-align: center;">القسم</th>
                            <th style="font-weight: bold; text-align: center;">الراتب</th>
                            <th style="font-weight: bold; text-align: center;">موعد الحضور</th>
                            <th style="font-weight: bold; text-align: center;">موعد الإنصراف</th>
                            <th style="font-weight: bold; text-align: center;">العمليات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var emp in Model)
                        {
                            <tr id="id-@emp.NationalID">
                                <td style="text-align: center;">@emp.NationalID</td>
                                <td style="text-align: center;">@emp.Name</td>
                                <td style="text-align: center;">@emp.Address</td>
                                <td style="text-align: center;">@emp.PhoneNumber</td>
                                <td style="text-align: center;">@emp.Gender</td>
                                <td style="text-align: center;">@emp.Nationality</td>
                                <td style="text-align: center;">@emp.Birthdate.ToString("dd/MM/yyyy")</td>
                                <td style="text-align: center;">@emp.DateOfContract.ToString("dd/MM/yyyy")</td>
                                <td style="text-align: center;">@emp.Department.Name</td>
                                <td style="text-align: center;">@emp.Salary</td>
                                <td style="text-align: center;">@emp.AttendanceTime.ToString("h:mm tt")</td>
                                <td style="text-align: center;">@emp.DepartureTime.ToString("h:mm tt")</td>
                                <td style="text-align: center;">
                                    <a asp-action="Detailes" asp-route-id="@emp.Id" class="bi bi-binoculars-fill text-info"></a>
                                    <a asp-action="Edit" asp-route-id="@emp.Id" class="bi bi-pencil-square text-warning"></a>
                                    <i style="cursor:pointer" onclick="DeleteEmployee(@emp.NationalID)" class="bi bi-trash3-fill text-danger"></i>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        function DeleteEmployee(id) {
            $.ajax({
                url: '/employee/delete/',
                method: 'GET',
                data: {
                    Id: id
                },
                success: function (response) {
                    let row = document.querySelector('#id-' + id)
                    let body = document.querySelector('tbody')
                    body.removeChild(row);
                    console.log('Request succeeded:', response);
                },
                error: function (xhr, status, error) {
                    console.log('Request failed:', xhr.responseText);
                }
            });
        }
    </script>
}