@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Employee Page";
}

<a class="btn btn-success" asp-action="Add">إضافة موظف</a>
<table class="table table-bordered mt-2">
    <thead>
        <tr>
            <td>الرقم القومي</td>
            <td>اسم الموظف</td>
            <td>العنوان</td>
            <td>رقم التليفون</td>
            <td>النوع</td>
            <td>الجنسية</td>
            <td>تاريخ الميلاد</td>
            <td>تاريخ التعاقد</td>
            <td>الراتب</td>
            <td>موعد الحضور</td>
            <td>موعد الإنصراف</td>
            <td>العمليات</td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var emp in Model)
            {
                <tr id="id-@emp.NationalID">
                    <td>@emp.NationalID</td>
                    <td>@emp.Name</td>
                    <td>@emp.Address</td>
                    <td>@emp.PhoneNumber</td>
                    <td>@emp.Gender</td>
                    <td>@emp.Nationality</td>
                    <td >@emp.Birthdate.ToString("dd/MM/yyyy")</td>
                    <td>@emp.DateOfContract.ToString("dd/MM/yyyy")</td>
                    <td>@emp.Salary</td>
                    <td>@emp.AttendanceTime.ToString("h:mm tt")</td>
                    <td>@emp.DepartureTime.ToString("h:mm tt")</td>
                    <td>
                        <a asp-action="Detailes" asp-route-id="@emp.NationalID" class="bi bi-binoculars-fill text-info"></a>
                        <a asp-action="Edit" class="bi bi-pencil-square text-warning"></a>
                        <i style="cursor:pointer" onclick="DeleteEmployee(@emp.NationalID)" class="bi bi-trash3-fill text-danger"></i>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        function DeleteEmployee(id) {
            $.ajax({
                url: '/employee/delete/',
                method: 'GET',
                data: {
                    Id: id
                },
                success: function (response) {
                    let row = document.querySelector('#id-'+id)
                    let body = document.querySelector('tbody')
                    body.removeChild(row);
                    console.log('Request succeeded:', response);
                },
                error: function (xhr, status, error) {
                    console.log('Request failed:', xhr.responseText);
                }
            });
        }
    </script>
}