@model RoleViewModel
@{
    ViewData["Title"] = "Add";

}

<form method="post" class="mt-5" onsubmit="submitForm(event)">
    <div class="text-center row form-group">
        <label class="text-end mb-3" asp-for="Name"></label>
        <input asp-for="Name" class="col-9  p-2" placeholder="اسم المجموعة" />
        <button class="btn btn-primary mx-2 p-2 col-2" type="submit">حفظ</button>

        <br /><span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mt-5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>الصفحة</td>
                    <td>اضافة</td>
                    <td>تعديل</td>
                    <td>حذف</td>
                    <td>عرض</td>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in ViewBag.pagesName)
                {
                    <tr id="pagesName">
                        <td>@item.Name</td>
                        <td> <input name="@item.Id" type="checkbox" class="checkbox-item" value="1" /> </td>
                        <td> <input name="@item.Id" type="checkbox" class="checkbox-item" value="2" /> </td>
                        <td> <input name="@item.Id" type="checkbox" class="checkbox-item" value="4" /> </td>
                        <td> <input name="@item.Id" type="checkbox" class="checkbox-item" value="8" /> </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</form>

<script>

    const submitForm = (e) => {
        e.preventDefault();
        let flag = false;

        let checkBox = document.querySelectorAll(".checkbox-item");
        let name = document.getElementById("Name").value;
        console.log(name);
        if (!name) { return; }

        checkBox.forEach((e) => {
            if (e.checked) {
                flag = true;
                return;
            }
        });

        if (!flag) {
            alert("من فضلك قم بتحديد صلاحيات المجموعة قبل الإضافة");
            return;
        }
      

        
        e.target.submit();
    };


</script>

@section newScript{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}





