@model RoleViewModel
@{
    ViewData["Title"] = "Add";

}

<form method="post" class="mt-5" >


    <div class="text-center row form-group">
        <label class="text-end mb-3" asp-for="Name"></label>
        <input asp-for="Name" class="col-9  p-2" placeholder="اسم المجموعة" />
        <button class="btn btn-primary mx-2 p-2 col-2" onclick="submitForm()" type="submit" asp-action="add" asp-controller="roles">حفظ</button>
        <br /><span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group mt-5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>الصفحة</td>
                    <td>اضافة</td>
                    <td>تعديل</td>
                    <td>حذف</td>
                    <td>عرض</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.pagesName)
                {
                    <tr id="pagesName">
                        <td>@item.Name</td>
                        <td><input type="checkbox" class="checkbox-item" id="@item.Id" value="1" /></td>
                        <td><input type="checkbox" class="checkbox-item" id="@item.Id" value="2" /></td>
                        <td><input type="checkbox" class="checkbox-item" id="@item.Id" value="4" /></td>
                        <td><input type="checkbox" class="checkbox-item" id="@item.Id" value="8" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</form>

<script>
    let x =
    {
        '1': [],
        '2': [],
        '3': [],
        '4': []
    }

    let checkBox = document.querySelectorAll(".checkbox-item");

    checkBox.forEach((e) => {
        e.addEventListener('click', e => {
            if (e.target.checked) {
                x[e.target.id].push(e.target.value);
            }
            else {
                let index = x[e.target.id].indexOf(e.target.value);
                x[e.target.id].splice(index, 1);
            }
        })
    })

    const submitForm = () => {
        
        
        fetch('/roles/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(x)
        })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error(error));

    }


</script>

@section newScript{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}
